.pizzaPreview{
    &__wooden-board{
        position: relative;
        width:100%;
        display: inline;

        @media only screen and ($tablet) {
            width: rem(290);
            height: rem(290);
        }
    }

    &__pizza{
        width: 100%;
        height: auto;
        position: absolute;
        &.small{
            max-width: 30%;
            top: 44%;
            right: 33%;
            // height: auto;
        }
        &.medium{
            max-width: 50%;
            top: 34%;
            right: 23%;
            // height: auto;
        }

        &.large{
            max-width: 65%;
            top: 27%;
            left: 20%;
            // height: auto;
        }

        @media only screen and ($tablet) {
            &.small{
                width: rem(100);
                // height: rem(100);
                top: rem(120);
                left: rem(100);
            }
            &.medium{
                width: rem(150);
                // height: rem(150);
                top: rem(95);
                right: rem(83);
            }
    
            &.large{
                width: rem(200);
                // height: rem(200);
                top: rem(70);
                left: rem(50);
            }
        }
        
    }

    &__container{
        position: relative;
        
    }
    &__topping{
        position: absolute;

        &.small{
            left: 41%;
            top: 48%;
            width: 21%;
            // height: auto;
        }

        &.medium{
            left: 34%;
            top: 42%;
            width: 35%;
            // height: auto;
        }

        &.large{
            top: 34%;
            left: 28%;
            width: 50%;
            // height:auto;
        }

        @media only screen and ($tablet) {
            &.small{
                width: rem(70);
                // height: auto;
                top: rem(137);
                left: rem(110);
            }
            &.medium{
                width: 110px;
                // height: auto;
                top: 120px;
                left: 95px;
            }
    
            &.large{
                top: rem(95);
                left: rem(75);
                width: rem(152);
                // height: auto;
            }
        }
    }
}