.pizzaMaker{
    display: flex;
    flex-direction: row;
    margin-left: rem(20);
    margin-right: rem(20);
    margin-top: rem(40);
    max-width: rem(618);
    // justify-content: center;

    @media only screen and ($tablet) {
        margin-left: auto;
        margin-right: auto;
    }

    &__hide{
        display:none;
    }

    &__steps{
        width: 50%;

        @media only screen and ($tablet) {
            width: 50%;
        }
    }

    &__step-container{
        margin-bottom: rem(40);

        @media only screen and ($tablet) {
            margin-bottom: rem(70);
        }
    }

    &__preview{
        width: 50%;

        @media only screen and ($tablet) {
            width: 50%;
        }
    }

    &__step-title{
        margin-left: 12px;
        font-size: rem(14);
        // light
        font-weight: 300;
        // margin-top: rem(20);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;

        @media only screen and ($tablet) {
            font-size: rem(24);
        }

        &.disabled{
            color: lightGray;
        }
    }

    &__size-container{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: rem(40);
    }

    &__size-selector--size{
        display: flex;
        flex-direction: column;
        padding-right: rem(10);
        border: none;
        background-color: white;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    &__size-title{
        margin-top: 0;
        margin-bottom: rem(8);
        margin-right: auto;
        margin-left: auto;
        font-weight: 300;
        font-size: rem(12);
        text-align: center;
        @media only screen and ($tablet) {
            font-size: rem(14);
        }
    }

    &__size-small{
        width: rem(42);
        height: rem(42);
    }

    &__size-medium{
        width: rem(65);
        height: rem(65);
    }

    &__size-large{
        width: rem(82);
        height: rem(82);
    }
    &__step-title--container{
        display: flex;
    }

    &__make-pizza--button{
        margin-bottom: rem(170);
        padding: rem(15);
        color: white;
        background-color: $green;
        border:none;
        border-radius: rem(80);
        font-size: rem(14);

        @media only screen and ($tablet){
            margin-top: rem(30);
            font-size: rem(16);
            margin-left: rem(20);
        }
        &.disabled{
            background-color: lightgray;
        }
    }

    &__make-pizza--edit-button{
        margin-bottom: rem(170);
        margin-top: rem(10);
        padding: rem(10);
        color: white;
        background-color: $burgundy;
        border:none;
        border-radius: rem(80);
        font-size: rem(12);
        margin-right: rem(10);
        margin-left: rem(10);
        display:block;
        margin-left: auto;
        margin-right: auto;

    }

    &__your_order{
       font-size: rem(14);
       font-weight: 700;
        color: $green;
        padding: 0 rem(10);
        margin-top: 0;
        text-align: center;
        margin-left: rem(10);
        margin-right: rem(10);

       @media only screen and ($tablet){
            font-size: rem(16);
            margin-left: rem(20);
            margin-right: rem(20);
       }
    }

    &__next_steps{
        padding: 0 rem(10);
        font-size: rem(9);
        margin-top: rem(20);
        text-align: center;

        @media only screen and ($tablet){
            margin-top: rem(70);
            font-size: rem(12);
        }
    }

}