@import "./base/base";
@import "../components/components";


.intro-slogan{
    text-align: center;
    margin-top: rem(50);
    margin-bottom: rem(100);
    font-family: "Roboto", sans-serif;
    font-size: rem(20);
}